@mixin daikin-Light-variables {
  --dds-color-common-brand-default: #0097e0;
  --dds-color-common-brand-hover: #0081c0;
  --dds-color-common-brand-press: #00689a;
  --dds-color-common-surface-brand-hover: #ddf3fc;
  --dds-color-common-surface-brand-press: #bbe7f9;
  --dds-color-common-neutral-default: #616161;
  --dds-color-common-neutral-hover: #515151;
  --dds-color-common-neutral-press: #414141;
  --dds-color-common-surface-neutral-hover: #f2f2f2;
  --dds-color-common-surface-neutral-press: #ebebeb;
  --dds-color-common-danger-default: #d80c18;
  --dds-color-common-danger-hover: #b90a15;
  --dds-color-common-danger-press: #9a0911;
  --dds-color-common-surface-danger-hover: #fdd9db;
  --dds-color-common-surface-danger-press: #fbb3b7;
  --dds-color-common-success: #008f7e;
  --dds-color-common-warning: #b88700;
  --dds-color-common-alarm: #e46b08;
  --dds-color-common-information: #0097e0;
  --dds-color-common-disabled: #bfbfbf;
  --dds-color-common-text-primary: #414141;
  --dds-color-common-text-secondary: #616161;
  --dds-color-common-text-inverse: #ffffff;
  --dds-color-common-border-focus: #0081c0;
  --dds-color-common-border-empty: #cecece;
  --dds-color-common-surface-default: #ffffff;
  --dds-color-common-surface-hover: #f2f2f2;
  --dds-color-common-surface-press: #ebebeb;
  --dds-color-common-surface-selected-default: #ddf3fc;
  --dds-color-common-surface-selected-hover: #bbe7f9;
  --dds-color-common-surface-selected-press: #98dbf7;
  --dds-color-common-background-default: #ffffff;
  --dds-color-common-background-overlay: #000000;
  --dds-color-divider: #cecece;
  --dds-color-link-text-default: #00689a;
  --dds-color-link-text-hover: #005077;
  --dds-color-link-text-press: #004160;
  --dds-color-link-text-visited-default: #5c2365;
  --dds-color-link-text-visited-hover: #4a1c51;
  --dds-color-link-text-visited-press: #37153d;
  --dds-color-link-surface-visited-hover: #f0ddf3;
  --dds-color-link-surface-visited-press: #e1bbe8;
}

@mixin daikin-Dark-variables {
  --dds-color-common-brand-default: #30ade8;
  --dds-color-common-brand-hover: #54c3f1;
  --dds-color-common-brand-press: #76cff4;
  --dds-color-common-surface-brand-hover: #002b40;
  --dds-color-common-surface-brand-press: #004160;
  --dds-color-common-neutral-default: #bfbfbf;
  --dds-color-common-neutral-hover: #cecece;
  --dds-color-common-neutral-press: #dcdcdc;
  --dds-color-common-surface-neutral-hover: #313131;
  --dds-color-common-surface-neutral-press: #414141;
  --dds-color-common-danger-default: #f21a27;
  --dds-color-common-danger-hover: #f4404b;
  --dds-color-common-danger-press: #f7666f;
  --dds-color-common-surface-danger-hover: #3e0307;
  --dds-color-common-surface-danger-press: #5d050a;
  --dds-color-common-success: #00c3ac;
  --dds-color-common-warning: #ebac00;
  --dds-color-common-alarm: #fa7a12;
  --dds-color-common-information: #30ade8;
  --dds-color-common-disabled: #616161;
  --dds-color-common-text-primary: #dcdcdc;
  --dds-color-common-text-secondary: #bfbfbf;
  --dds-color-common-text-inverse: #212121;
  --dds-color-common-border-focus: #54c3f1;
  --dds-color-common-border-empty: #515151;
  --dds-color-common-surface-default: #212121;
  --dds-color-common-surface-hover: #313131;
  --dds-color-common-surface-press: #414141;
  --dds-color-common-surface-selected-default: #002b40;
  --dds-color-common-surface-selected-hover: #004160;
  --dds-color-common-surface-selected-press: #005077;
  --dds-color-common-background-default: #212121;
  --dds-color-common-background-overlay: #000000;
  --dds-color-divider: #515151;
  --dds-color-link-text-default: #76cff4;
  --dds-color-link-text-hover: #98dbf7;
  --dds-color-link-text-press: #bbe7f9;
  --dds-color-link-text-visited-default: #c477d0;
  --dds-color-link-text-visited-hover: #d399dc;
  --dds-color-link-text-visited-press: #e1bbe8;
  --dds-color-link-surface-visited-hover: #250e29;
  --dds-color-link-surface-visited-press: #37153d;
}

@mixin aaf-Light-variables {
  /* TODO */
  @include daikin-Light-variables();
}

@mixin aaf-Dark-variables {
  /* TODO */
  @include daikin-Light-variables();
}
