@mixin daikin-Light-variables {
  --dds-color-common-brand-default: #0097E0;
  --dds-color-common-brand-hover: #0081C0;
  --dds-color-common-brand-press: #00689A;
  --dds-color-common-surface-brand-hover: #DDF3FC;
  --dds-color-common-surface-brand-press: #BBE7F9;
  --dds-color-common-neutral-default: #616161;
  --dds-color-common-neutral-hover: #515151;
  --dds-color-common-neutral-press: #414141;
  --dds-color-common-surface-neutral-hover: #F2F2F2;
  --dds-color-common-surface-neutral-press: #EBEBEB;
  --dds-color-common-danger-default: #D80C18;
  --dds-color-common-danger-hover: #B90A15;
  --dds-color-common-danger-press: #9A0911;
  --dds-color-common-surface-danger-hover: #FDD9DB;
  --dds-color-common-surface-danger-press: #FBB3B7;
  --dds-color-common-success: #008F7E;
  --dds-color-common-warning: #B88700;
  --dds-color-common-alarm: #E46B08;
  --dds-color-common-information: #0097E0;
  --dds-color-common-disabled: #BFBFBF;
  --dds-color-common-text-primary: #414141;
  --dds-color-common-text-secondary: #616161;
  --dds-color-common-text-inverse: #FFFFFF;
  --dds-color-common-border-focus: #0081C0;
  --dds-color-common-border-empty: #CECECE;
  --dds-color-common-surface-default: #FFFFFF;
  --dds-color-common-surface-hover: #F2F2F2;
  --dds-color-common-surface-press: #EBEBEB;
  --dds-color-common-surface-selected-default: #DDF3FC;
  --dds-color-common-surface-selected-hover: #BBE7F9;
  --dds-color-common-surface-selected-press: #98DBF7;
  --dds-color-common-background-default: #FFFFFF;
  --dds-color-common-background-overlay: #000000;
  --dds-color-divider: #CECECE;
  --dds-color-link-text-default: #00689A;
  --dds-color-link-text-hover: #005077;
  --dds-color-link-text-press: #004160;
  --dds-color-link-text-visited-default: #5C2365;
  --dds-color-link-text-visited-hover: #4A1C51;
  --dds-color-link-text-visited-press: #37153D;
  --dds-color-link-surface-visited-hover: #F0DDF3;
  --dds-color-link-surface-visited-press: #E1BBE8;
}

@mixin daikin-Dark-variables {
  --dds-color-common-brand-default: #30ADE8;
  --dds-color-common-brand-hover: #54C3F1;
  --dds-color-common-brand-press: #76CFF4;
  --dds-color-common-surface-brand-hover: #002B40;
  --dds-color-common-surface-brand-press: #004160;
  --dds-color-common-neutral-default: #BFBFBF;
  --dds-color-common-neutral-hover: #CECECE;
  --dds-color-common-neutral-press: #DCDCDC;
  --dds-color-common-surface-neutral-hover: #313131;
  --dds-color-common-surface-neutral-press: #414141;
  --dds-color-common-danger-default: #F21A27;
  --dds-color-common-danger-hover: #F4404B;
  --dds-color-common-danger-press: #F7666F;
  --dds-color-common-surface-danger-hover: #3E0307;
  --dds-color-common-surface-danger-press: #5D050A;
  --dds-color-common-success: #00C3AC;
  --dds-color-common-warning: #EBAC00;
  --dds-color-common-alarm: #FA7A12;
  --dds-color-common-information: #30ADE8;
  --dds-color-common-disabled: #616161;
  --dds-color-common-text-primary: #DCDCDC;
  --dds-color-common-text-secondary: #BFBFBF;
  --dds-color-common-text-inverse: #212121;
  --dds-color-common-border-focus: #54C3F1;
  --dds-color-common-border-empty: #515151;
  --dds-color-common-surface-default: #212121;
  --dds-color-common-surface-hover: #313131;
  --dds-color-common-surface-press: #414141;
  --dds-color-common-surface-selected-default: #002B40;
  --dds-color-common-surface-selected-hover: #004160;
  --dds-color-common-surface-selected-press: #005077;
  --dds-color-common-background-default: #212121;
  --dds-color-common-background-overlay: #000000;
  --dds-color-divider: #515151;
  --dds-color-link-text-default: #76CFF4;
  --dds-color-link-text-hover: #98DBF7;
  --dds-color-link-text-press: #BBE7F9;
  --dds-color-link-text-visited-default: #C477D0;
  --dds-color-link-text-visited-hover: #D399DC;
  --dds-color-link-text-visited-press: #E1BBE8;
  --dds-color-link-surface-visited-hover: #250E29;
  --dds-color-link-surface-visited-press: #37153D;
}

@mixin aaf-Light-variables {
  /* TODO */
  @include daikin-Light-variables();
}

@mixin aaf-Dark-variables {
  /* TODO */
  @include daikin-Light-variables();
}
