@mixin daikin-Light-variables {
  --dds-common-brand: #0097e0;
  --dds-common-brand-primary-hover: #0081c0;
  --dds-common-brand-primary-press: #00689a;
  --dds-common-brand-secondary-hover: #ddf3fc;
  --dds-common-brand-secondary-press: #bbe7f9;
  --dds-common-neutral-default: #616161;
  --dds-common-neutral-primary-hover: #515151;
  --dds-common-neutral-primary-press: #414141;
  --dds-common-neutral-secondary-hover: #f2f2f2;
  --dds-common-neutral-secondary-press: #ebebeb;
  --dds-common-danger: #d80c18;
  --dds-common-danger-primary-hover: #b90a15;
  --dds-common-danger-primary-press: #9a0911;
  --dds-common-danger-secondary-hover: #fdd9db;
  --dds-common-danger-secondary-press: #fbb3b7;
  --dds-common-success: #008f7e;
  --dds-common-warning: #b88700;
  --dds-common-alarm: #e46b08;
  --dds-common-information: #0097e0;
  --dds-common-disabled: #bfbfbf;
  --dds-text-primary: #414141;
  --dds-text-secondary: #616161;
  --dds-text-inverse: #ffffff;
  --dds-border-focus: #0081c0;
  --dds-border-empty: #cecece;
  --dds-surface-default: #ffffff;
  --dds-surface-hover: #f2f2f2;
  --dds-surface-press: #ebebeb;
  --dds-surface-selected-default: #ddf3fc;
  --dds-surface-selected-hover: #bbe7f9;
  --dds-surface-selected-press: #98dbf7;
  --dds-background-default: #ffffff;
  --dds-background-overlay: #000000;
  --dds-divider: #cecece;
  --dds-link-primary-default: #00689a;
  --dds-link-primary-hover: #005077;
  --dds-link-primary-press: #004160;
  --dds-link-primary-visited-default: #5c2365;
  --dds-link-primary-visited-hover: #4a1c51;
  --dds-link-primary-visited-press: #37153d;
  --dds-link-secondary-visited-hover: #f0ddf3;
  --dds-link-secondary-visited-press: #e1bbe8;
}

@mixin daikin-Dark-variables {
  /* TODO */
  @include daikin-Light-variables();
}

@mixin aaf-Light-variables {
  /* TODO */
  @include daikin-Light-variables();
}

@mixin aaf-Dark-variables {
  /* TODO */
  @include daikin-Light-variables();
}
